html {
    color: white;
    font-size: 20px; 
    font-family: Calibri, sans-serif;
    background-color: rgb(130, 82, 109);
}
body {
    margin-top:25%;
    margin-right: 50%;
    margin-bottom: 25%;
    margin-left: 505;
    background-color: rgb(84, 130, 173);
}
header {
    text-align: center;
    color: white;
    background-color: rgb(199, 84, 136);
}
nav {
    position: sticky;
    font-size: inherit;
    background-color: rgb(54, 112, 50);
}
a {
    color: inherits;
    text-decoration: none;
}
p {
    margin: 10%;
    background-color: rgb(206, 169, 126);
}