html {
    color: white;
    font-size: 1vw; 
    font-family: Calibri, sans-serif;
    background-color: rgb(61, 39, 65);
}

nav {
    position:fixed;
    font-size: 16px;
    top: 1%;
    left: 5%;
    height: 100%;
}